<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Core.System.Configuration.Install" version="1.1.0" targetFramework="net48" />
  <package id="log4net" version="3.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.6" targetFramework="net48" />
  <package id="System.Diagnostics.EventLog" version="8.0.1" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.7.0" targetFramework="net48" />
  <package id="System.Net.Mail.Abstractions" version="1.1.21" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceProcess.ServiceController" version="8.0.1" targetFramework="net48" />
</packages>